:host {
  display: block;
  overflow-x: hidden;
  box-shadow:  0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.panels {
  height: 100%;
  width: 200%;

  display: flex;
  >div {
    flex: 1;
  }
}
