:host {
  flex: 1;
  margin-left: 20px;
  // display: block;
  // overflow-x: hidden;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 2px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  padding: 10px;
  background-color: #efefef;
}

.main-container-my-teams{
  height: calc(100vh - 110px);
  overflow: auto;
}

.my-team-players-lists{
  height: calc(100vh - 375px);
  overflow: auto;
}

.header-my-team {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.coach-container {
  display: flex;
  flex-direction: column;
}

.coach-info {
  display: flex;
  flex-direction: column;
}

.title-coach{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
}

.second-container-header{
  width: 100%;
  flex: 1;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.empty-coach {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 170px;
  width: 140px;
  border-radius: 5px;
  border: 1px #000 dashed;
  cursor: pointer;
  box-sizing: border-box;
}

.remove-button{
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  // display: none;
}

.coach-data{
  width: 140px;
  height: 170px;
  font-size: 16px;
  font-weight: 700;
  align-items: center;
  text-align: center;
  position: relative;
  img{
    width: 100%;
  }
  &:hover{
    .remove-button{
      display: block;
    }
  }
}

.icon-add-coach {
  font-size: 40px;
  height: 40px;
  width: 40px;
  margin-bottom: 10px;
}

.contraints{
  font-size: 14px;
  font-weight: 600;
}

.buttons-footer{
  height: 50px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-name{
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
}
