<div class="main-container-my-teams">
  <div class="header-my-team">
    <div class="coach-container">
      <div class="title-coach">Coach:</div>
      <div class="coach-info">
        <div *ngIf="!teamApp?.coach" (click)="openDialog()" class="empty-coach">
          <mat-icon class="icon-add-coach">add_circle</mat-icon>
          Select Coach
        </div>
        <div class="coach-data" *ngIf="!!teamApp?.coach">
          <div *isTeamSaved (click)="removeCoach(teamApp?.coach!)" class="remove-button">
            <mat-icon [ngStyle]="{ color: 'red' }">do_not_disturb_on</mat-icon>
          </div>
          <img [src]="teamApp?.coach?.photo" class="coach-photo" />
          <div class="coach-name">
            {{ teamApp?.coach?.name }}
          </div>
        </div>
      </div>
    </div>
    <div style="width: 10px"></div>
    <div class="second-container-header">
      <div>
        <div class="title-coach">Name:</div>
        <form *ngIf="!teamApp?.saved" class="full-width" [formGroup]="form">
          <mat-form-field class="full-width">
            <mat-label>Name of the Team</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="Ex. Real Betis Balompié"
            />
            <button
              *ngIf="form.controls['name'].value != ''"
              matSuffix
              mat-icon-button
              aria-label="Clear"
              (click)="form.controls['name'].setValue('')"
            >
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </form>
        <div *ngIf="teamApp?.saved">
          <div class="team-name">
            {{teamApp?.name}}
          </div>
        </div>
      </div>
      <div *ngIf="!teamApp?.saved" class="contraints">
        {{ teamApp?.contraintsString() }}
      </div>
    </div>
  </div>
  <!-- <app-search-coach>

    </app-search-coach> -->

  <div class="my-team-players-lists">
    <app-player-list-filtered
      [playerAppArr]="teamApp?.playersByPosition('Attacker')!"
      [playerPosition]="'Attacker'"
      [minPlayers]="(teamApp?.contraints)!.minPerPosition['Attacker']"
    ></app-player-list-filtered>
    <app-player-list-filtered
      [playerAppArr]="teamApp?.playersByPosition('Midfielder')!"
      [playerPosition]="'Midfielder'"
      [minPlayers]="4"
    ></app-player-list-filtered>
    <app-player-list-filtered
      [playerAppArr]="teamApp?.playersByPosition('Defender')!"
      [playerPosition]="'Defender'"
      [minPlayers]="4"
    ></app-player-list-filtered>
    <app-player-list-filtered
      [playerAppArr]="teamApp?.playersByPosition('Goalkeeper')!"
      [playerPosition]="'Goalkeeper'"
      [minPlayers]="(teamApp?.contraints)!.minPerPosition['Goalkeeper']"
    ></app-player-list-filtered>
  </div>

  <div class="buttons-footer">
    <general-button *ngIf="!teamApp?.saved" (click)="save()" color="primary" text="Save"></general-button>
    <general-button *ngIf="teamApp?.saved" (click)="edit()" color="primary" text="Edit"></general-button>
    <div *ngIf="teamApp?.saved" style="width: 20px;"></div>
    <general-button *ngIf="teamApp?.saved" (click)="delete()" color="accent" text="Delete"></general-button>
  </div>
</div>
