@use '@angular/material' as mat;

.item-nation{
  width: 80px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  .image{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img{
    width: 70%;
    margin:  auto;
  }
  p{
    text-align: center;
  }
}

.team-name{
  text-align: center;
    // font-weight: 700;
    // font-size: 16px;
    width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }

.elevate-on-hover {
  cursor: pointer;
  padding: 10px;
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  &:hover {
    @include mat.elevation(4)
  }


}
