<mat-card class="elevate-on-hover" (click)="selectTeam()">
  <!-- <mat-card-content> -->
    <div class="item-nation">
      <div class="image">
      <img [src]="team.logo" alt=""  loading="lazy"/>
    </div>
    <div class="team-name">
      {{ team.country }}
    </div>
  </div>
  <!-- </mat-card-content> -->
</mat-card>
