.players-grid-container{
  height: calc(100vh - 172px);
  overflow: auto;
  position: relative;
}
.header-players-showcase{
  display: flex;

  button{
    margin-top: 5px;
  }

  .full-width{
    flex: 1
  }


}

.show-over{
  position: absolute;position: fixed;
  height: calc(100vh - 172px);
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: #ffffffad;
  > div {
    font-size: 20px;
    font-weight: 700;
    color: #c5c5c5;
  }
}
