<div>
  <div class="header-players-showcase">
    <button mat-icon-button color="primary" (click)="backToTeams()"  aria-label="Back to Teams">
       <mat-icon>arrow_back</mat-icon>
    </button>

    <form class="full-width" [formGroup]="form">
      <mat-form-field class="full-width">
        <mat-label>Filter by Player name</mat-label>

      <input matInput formControlName="name" placeholder="Ex. Messi" minlength="4">
      </mat-form-field>
    </form>


  </div>
  <div class="players-grid-container"
  infiniteScroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="500"
  (scrolled)="onScroll()"
  [scrollWindow]="false">

  <div *ngIf="notFound || loading || minLengthError " class="show-over">
    <mat-spinner *ngIf="loading"></mat-spinner>

    <div *ngIf="minLengthError">
      Min 4 characters to search a player!
    </div>
    <div *ngIf="notFound && !loading && !minLengthError">
      not found :(
    </div>
  </div>
    <mat-grid-list cols="3" rowHeight="220">
      <mat-grid-tile *ngFor="let player of players">
        <person-item
          (click)="addItemToUserTeam(player)"
          [person]="player"
        ></person-item>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
