@use '@angular/material' as mat;

.player-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding-bottom: 6px;
  cursor: pointer;
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  &:hover {
    @include mat.elevation(4)
  }

  mat-icon{
    font-size: 20px;
  }
  img{
    width: 100%;
  }

  .player-name{
    padding: 5px 0;
    font-weight: 700;
    font-size: 16px;
  }

  .position-info{
    display: flex;
    align-items: center;
    justify-content: center ;
  }

}
