<mat-card >
  <div class="player-item">
    <img [src]="player.photo" [alt]="player.name">
    <div class="player-name">{{player.name}}</div>
    <div class="position-info">
      <mat-icon aria-hidden="false" [fontIcon]="player.position | playerPosition"></mat-icon>
      <div> | {{player.position}}</div>
    </div>
  </div>
</mat-card>
