<div class="team-selection">
  <form [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label>Filter by Team name</mat-label>

    <input matInput formControlName="name" placeholder="Ex. Venezuela">
    </mat-form-field>
  </form>

  <div class="teams-grid-container">
    <div *ngIf="data.length === 0" class="loader-teams">
      <mat-spinner></mat-spinner>
    </div>
    <mat-grid-list cols="4" rowHeight="140" >
      <mat-grid-tile *ngFor="let team of data | filterByName : form.controls['name'].value : 'name'">
        <team-item [team]=team></team-item>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
