.teams-grid-container{
  height: calc(100vh - 170px);
  overflow: auto;
  position: relative;
}

.loader-teams{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
