.search-box{
  width: 500px;
}
.coachs-grid-container{
  position: relative;
  overflow: auto;
  height: 222px;

  .show-over{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: #ffffffad;
    > div {
      font-size: 20px;
      font-weight: 700;
      color: #c5c5c5;
    }
  }
}
