<div class="search-box">
  <form class="full-width" [formGroup]="form">
    <mat-form-field class="full-width">
      <mat-label>Search Coach by name</mat-label>

    <input matInput formControlName="search" placeholder="Ex. Zidane" minlength="4">
    <mat-hint>Min 4 characters</mat-hint>
    </mat-form-field>
  </form>
  <div class="coachs-grid-container">
    <div *ngIf="form.controls['search'].value.length < 4 || notFound || loading" class="show-over">
      <mat-spinner *ngIf="loading"></mat-spinner>


      <div *ngIf="form.controls['search'].value.length < 4 && coachs.length == 0 && !loading">
        Search a Coach for your Team!
      </div>
      <div *ngIf="notFound && !loading">
        not found :(
      </div>
    </div>
    <mat-grid-list cols="3" rowHeight="220">
      <mat-grid-tile *ngFor="let coach of coachs">
        <person-item
          (click)="selectCoach(coach)"
          [person]="coach"
        ></person-item>
      </mat-grid-tile>
      </mat-grid-list>
  </div>

</div>
