@use '@angular/material' as mat;

.person-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  padding-bottom: 6px;
  cursor: pointer;
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
  &:hover {
    @include mat.elevation(4)
  }

  mat-icon{
    font-size: 20px;
  }
  img{
    width: 100%;
  }

  .person-name{
    padding: 10px 5px 5px 5px;
    font-weight: 700;
    font-size: 16px;
    width: 135px;
    word-wrap: break-word;
    overflow: hidden;
    text-wrap: nowrap;
    box-sizing: border-box;
    text-align: center;
    text-overflow: ellipsis;
  }

  .position-info{
    display: flex;
    align-items: center;
    justify-content: center ;
  }

}
