<mat-card >
  <div class="person-item">
    <img [src]="person.photo" [alt]="person.name" loading="lazy">
    <div class="person-name">{{person.name}}</div>
    <div *ngIf="person.position != null" class="position-info">
      <mat-icon aria-hidden="false" [fontIcon]="person.position | playerPosition"></mat-icon>
      <div> | {{person.position}}</div>
    </div>
  </div>
</mat-card>
