slide-panel {
  // border: 1px solid ;
  width: 500px;
  height: calc(100vh - 90px);
}

// /deep/ slide-panel .panels {
//   border: 6px dashed #4990E2;
//   box-sizing: border-box;
// }

[leftPane]  { background-color: #FFF897; overflow: auto;}
[rightPane] { background-color: #6CE6CB; }
