<div >
  <slide-panel [activePanel]="!(isLeftVisible$ | async) ? 'left' : 'right'">
    <team-selection leftPane ></team-selection>
    <team-players-showcase rightPane></team-players-showcase>
  </slide-panel>

</div>

