<div>
  <div class="label-players-list">
    <div class="title-player-by-position">{{playerPosition}}s: {{ playerAppArr.length }} </div>
    <div class="min-contraints">(min. {{minPlayers}})</div>
  </div>
  <div class="my-team-players-container">
    <div *ngIf="playerAppArr.length === 0" class="full-width text-no-items">
      <div>
        Add players in this position
      </div>
    </div>

    <div class="my-team-player-item" *ngFor="let player of playerAppArr">
      <div *isTeamSaved (click)="removePlayer(player)" class="remove-button">
        <mat-icon [ngStyle]="{ color: 'red' }">do_not_disturb_on</mat-icon>
      </div>
      <img class="player-image" [src]="player.photo" alt="" />
      <div class="player-name">{{ player.name }}</div>
      <div class="team-image">
        <img [src]="player.teamLogo" />
      </div>
    </div>

  </div>
</div>
