

.my-team-players-container{
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  padding: 10px;
  min-height: 150px;
  background-color: #f9f9f9;
  border-radius: 10px;
  overflow-X: auto;
  margin-bottom: 10px;
}

.my-team-player-item{
  width: 120px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  img{
    width: 100%;
  }

  &:hover{
    .remove-button{
      display: block;
    }
  }
}

.text-no-items{
  font-size: 20px;
  font-weight: 700;
  color: #c5c5c5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-image{
  width: 30px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  height: 30px;
  img{
    width: 100%;
  }
}

.player-name {
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  word-wrap: break-word;
  overflow: hidden;
  text-wrap: nowrap;
}

.remove-button{
  display: none;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  // display: none;
}

.title-player-by-position{
  font-size: 20px;
  font-weight: 700;
  // padding-bottom: 10px;
}

.min-contraints{
  font-size: 11px;
  font-weight: 100;
  padding-bottom: 5px;
}
